/* Common styles */
/* .btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  border:none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
} */
.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-color: #007bff; /* 主品牌色 */
  border: 2px solid #007bff; /* 添加边框 */
  border-radius: 6px; /* 圆角 */
  cursor: pointer;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;
}

/* Primary btn */
.btn-primary {
  background-color: #007bff; /* Replace with your primary brand color */
  color: #ffffff;
  padding: 10px 16px;
}
.btn-primary:hover {
  background-color: #0056b3; /* hover时的颜色 */
  border-color: #0056b3; /* hover时的边框颜色 */
}
.btn-primary:focus {
  outline: none; /* 移除 focus 时的默认边框 */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3); /* 添加 focus 时的边框 */
}

.btn-primary[disabled] {
  background-color: #cbd5e0; /* Light gray for disabled state */
  color: #a0aec0;
  cursor: not-allowed;
}

/* Secondary btn */
.btn-secondary {
  background-color: #6c757d; /* Replace with your secondary brand color */
  color: #ffffff;
  padding: 10px 16px;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #5a6268; /* Slightly darker shade for hover and focus */
}
